<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">

    <title>Developers</title>
    <link rel="icon" href="/img/wea.jpg">
    <link rel="stylesheet" href="css/developer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body class="night " class="shooting_star " onload = "loadFunc()"> 

    <div id="loading"></div>

    {{>header}}

    <br class="clear"><br><br>
    <center><b id="headline">--: Meet The Developers :--</b></center>

     <center id="centre">

        <div id="rishi">

            <div id="inrishi">
                <a href="https://twitter.com/RishikeshMunga1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.link/i0a1ne" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/rishikesh__1412/" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rishikesh-mungase-91b8b21b6/" target="_blank"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <b class="name">Rishikesh Mungase</b>
        </div>


        <div id="imon">
            <div id="inimon">
                <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.link/ohxpcu" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/imonaahok/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/imon-mandal-a5a5a61a7" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <b class="name">Imon Mandal</b>
        </div>

        <div class="clear"></div>


        <div id="pranit">
            <div id="inpranit">
                <a href="https://twitter.com/PranitChaudha10?s=08" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.link/cq151t" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/p_r_a_n_i_t__c?r=nametag" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <b class="name">Pranit Choudhary</b>
        </div>

        <div id="prajwal">
            <div id="inprajwal">
                <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.link/ny13ld" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/proudly_prajwal" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <b class="name">Prajwal Pawar</b>
        </div>

    </center>
    

    <br><br>

<!-- You Tube videos for loader -->

<iframe id="yt1" width="560" height="315" src="https://www.youtube.com/embed/yovnkPGxwtw" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<iframe id="yt2" width="560" height="315" src="https://www.youtube.com/embed/DiVxOfUEbfk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<iframe id="yt3" width="560" height="315" src="https://www.youtube.com/embed/DiVxOfUEbfk" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<!-- You Tube videos for loader ended here -->
    {{>footer}}
    
    <script src="js/developer.js"></script>

</body>

</html>